@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");

* {
  @apply text-slate-200;
}

h1 {
  font-family: "Arvo", serif;
  font-weight: 700;
}

h2 {
  @apply border-b border-sky-400 pb-3;
  font-family: "Arvo", serif;
  font-weight: 700;
}

p {
  @apply text-justify text-slate-200;
}

.slidev-layout {
  @apply bg-gray-900;
}

.cover {
  @apply flex justify-center items-center;
}

span {
  @apply text-pink-400;
}

.slidev-layout td,
.slidev-layout th,
.slidev-layout tr {
  @apply items-center text-xs p-4 border-b-1 border-gray-800;
}

table {
  @apply my-4 relative;
}

table::before {
  @apply border border-gray-800 rounded-lg absolute w-full h-full top-0;
  content: "";
}
